# Configuração do admin
APP_ENV=production
DB_HOST=postgres.local
DB_NAME=elite_quiz_admin
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
GLOBAL_API_KEY=0RZGifiwEscySKr9xAANpNfs6BMgsebt
ADMIN_HOST=admin.elitequiz.local
WEBHOOKFILES=true
DATABASE_SAVE_MESSAGES=true
